// Custom styles.
body .bg-image {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.divider{
  margin: 24px 18px;
  box-sizing: border-box;
  padding: 0;
  background: #eee;
  height: 1px
}
